<?xml version="1.0" encoding="UTF-8"?>
<!--
    debug=true：打印logback内部状态, 代码中使用StatusPrinter.print方法
    scan=true：配置文件修改后自动重新加载，默认1分钟扫描一次，configuration元素的scanPeriod属性控制扫描周期，默认毫秒
        时间单位包括： milliseconds、 seconds、 minutes 和 hours
        <configuration scan="true" scanPeriod="30 seconds">

-->
<configuration debug="false" scan="true">
    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名, %-5level：级别从左显示5个字符宽度,
                           %logger{1}:包+类名长度，超过则显示包名首字母, %msg：日志消息，%n是换行符 -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{1} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
       <appender-ref ref="STDOUT" />
    </root>
</configuration>
